* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans-Regular';
    outline: none;
}

@font-face {
    font-family: 'Open Sans-SemiBold';
    src: url('../_fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Open Sans-Regular';
    src: url('../_fonts/Open_Sans/OpenSans-Regular.ttf');
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


/************ HEADER CABEÇALHO*********/

header.cabecalho-principal {
    /*background-color: rgba(235, 233, 233, 0.733);*/
    background-color: rgb(44, 43, 43);
    padding: 0 2%;
}

header.cabecalho-principal .logo {
    float: left;
}

header.cabecalho-principal .logo img,
footer .footer-lateral img {
    width: 300px;
    margin: 10px 0;
}

header.cabecalho-principal nav.menu-desktop {
    float: right;
}

header.cabecalho-principal nav.menu-desktop ul {
    list-style: none;
}

header.cabecalho-principal nav.menu-desktop ul li {
    float: left;
    padding: 10px 25px;
    margin-top: 50px;
    font-style: italic;
}

header.cabecalho-principal nav.menu-desktop ul li a {
    text-decoration: none;
    color: #0077b5;
    font-size: 18px;
}

header.cabecalho-principal nav.menu-desktop ul li a:hover {
    text-decoration: underline;
    color: #ccc;
}

header.cabecalho-principal nav.menu-desktop ul li a:last-child {
    text-decoration: none;
}

.botaoLog a:hover {
    font-weight: 900;
}


/********MENU-MOBILE*********/

header.cabecalho-principal .menu-mobile {
    display: none;
    float: right;
    width: calc(100% - 260px);
    height: 100%;
    padding-left: 25%;
}

header.cabecalho-principal .menu-mobile .iconMobile {
    background-image: url('../_imgs/menu-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    list-style: none;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-align: left;
}

.menuMobileBox {
    position: absolute;
    top: 133px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: #222222;
    z-index: 999;
    border-bottom: 5px solid #0077b5;
    display: none;
}

.menuMobileBox li {
    padding: 30px 20px;
    font-size: 19px;
}

.menuMobileBox li a {
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
    font-style: italic;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    color: #FFF;
}

.subMenuMobile {
    display: none;
    list-style: none;
}

.subMenuMobile li {
    font-size: 15px;
}

.abreCat {
    color: #FFF;
}

.subMenuMobile li:nth-of-type(4) {
    padding-bottom: 0px;
}


/*********SUBMENU***********/

header.cabecalho-submenu {
    background-color: #0077b5;
    border-bottom: 3px solid #2f98d1;
}

header.cabecalho-submenu nav.sub-menu ul {
    list-style: none;
}

header.cabecalho-submenu nav.sub-menu ul li {
    float: left;
    padding: 8px 4%;
}

header.cabecalho-submenu nav.sub-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans-SemiBold';
}

header.cabecalho-submenu nav.sub-menu ul li:hover {
    background-color: #2f98d1;
}

.estilo-item {
    background-color: #2f98d1;
    border-left: 4px solid #0077b5;
    border-right: 4px solid #0077b5;
}

.botaoLog {
    background-color: white;
    border-radius: 15px;
    padding: 8px 20px !important;
    border: 1px solid #2f98d1;
}

.botaoLog a {
    font-weight: 600;
}

.botaoLog a:hover {
    color: black !important;
}


/*************MEDIA QUERYS***************/

@media screen and (max-width: 920px) {
    header.cabecalho-principal {
        height: 130px;
    }
    header.cabecalho-principal nav.menu-desktop ul {
        display: none;
    }
    .menu-mobile {
        display: flex !important;
    }
    header.cabecalho-principal .logo img {
        width: 250px;
        height: 100px;
        margin-top: 10px;
        padding: 0 2%;
    }
    /***********SUB MENU************/
    header.cabecalho-submenu nav.sub-menu {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    header.cabecalho-principal .logo {
        width: 230px;
        height: 100px;
    }
    header.cabecalho-principal .logo img {
        width: 100%;
    }
    header.cabecalho-principal .menu-mobile {
        padding-left: 0%;
    }
    .menuMobileBox li a {
        padding: 15px 150px 5px 5px;
    }
}

@media screen and (max-width: 360px) {
    header.cabecalho-principal .logo {
        width: 180px;
        height: 100px;
    }
    header.cabecalho-principal .logo a {
        text-align: center;
    }
    header.cabecalho-principal .menu-mobile {
        width: calc(100% - 210px);
    }
}