@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
.breve-vaga .desc-vaga p {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Saira Condensed', sans-serif !important;
}

main * {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Saira Condensed', sans-serif !important;
    font-family: 'Saira Condensed', sans-serif !important;
}

span.dados {
    font-family: 'Saira Condensed', sans-serif !important;
    font-family: 'Saira Condensed', sans-serif !important;
}

.anuncio-principal .titulo-vaga h1 {
    font-size: 2.5em;
    color: #0077b5;
}

section.conteudo .anuncio-principal {
    float: left;
    width: 65%;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
}

section.conteudo .anuncio-principal h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: 30px;
    margin: 20px 0;
}

section.conteudo .breve-vaga {
    border: 3px solid #ccc;
    box-shadow: 1px 1px 10px 1px #ccc;
    position: relative;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    display: inline-block;
}

section.conteudo .breve-vaga1 {
    border: 3px solid #ccc;
    box-shadow: 1px 1px 10px 1px #ccc;
    position: relative;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.breve-vaga .img-vaga {
    float: left;
    width: 45%;
    height: 200px;
    margin-right: 20px;
}

.breve-vaga1 .img-vaga {
    width: 80%;
    height: 250px;
    margin: 10px auto;
}

.breve-vaga .img-vaga img,
.breve-vaga1 .img-vaga img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.breve-vaga .desc-vaga {
    width: 50%;
    float: left;
}

.breve-vaga1 .desc-vaga {
    width: 100%;
    padding: 5px 15px;
}

.breve-vaga .desc-vaga h3 a {
    width: 100%;
    color: #4096c5;
    text-decoration: none;
    text-shadow: 1px 1px 1px #ccc;
    text-align: center;
    font-weight: 600;
}

.breve-vaga1 .desc-vaga h3 a {
    width: 100%;
    color: #4096c5;
    text-decoration: none;
    text-shadow: 1px 1px 1px #ccc;
    text-align: center;
    font-weight: 600;
}

.titulo_vaga {
    text-align: left;
    margin: 10px 0;
}

.breve-vaga .desc-vaga h3 a:hover,
.breve-vaga1 .desc-vaga h3 a:hover {
    text-decoration: underline;
}

.breve-vaga .desc-vaga p {
    text-align: left;
    margin-top: 8px;
}

.breve-vaga1 .desc-vaga p {
    margin-top: 8px;
    text-align: justify;
}

.breve-vaga .desc-vaga p a {
    float: right;
    margin-top: 40px;
    padding: 5px;
    font-size: 0.8em;
    background-color: #0077b5;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.breve-vaga1 .desc-vaga p a {
    float: right;
    padding: 11px;
    font-size: 1em;
    background-color: #0077b5;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.wrap-title {
    width: 20%;
    height: 3px;
    background-color: rgb(130, 130, 130);
    margin: 0 auto;
    position: relative;
    top: -15px;
}


/**********PAGINACÃO**********/


/*Configuração botão paginação*/

.mostrar {
    display: inline-block;
    background-color: rgb(44, 43, 43);
    margin: 6px 0px;
    padding: 0px 13px;
    border-radius: 4px;
}

.esconder {
    display: none;
}

.paginacao {
    display: inline-block;
    width: 100%;
    /* height: 45px; */
    margin-top: 10px;
    margin-bottom: 30px;
    border: 0;
    text-align: center;
    line-height: 45px;
    background-color: #0077b5;
}

.paginacao a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.paginacao .num_pg {
    background-color: #ccc;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
}

.paginacao .pri_pg {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #ccc;
    color: black;
    font-size: 18px;
}

.paginacao .ult_pg {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ccc;
    color: black;
    font-size: 18px;
}

.destaque {
    background-color: rgb(46, 46, 46) !important;
    color: #fff !important;
}


/*****************ANUNCIO-VAGA**************/

.anuncio-principal .descricao-vaga {
    width: 100%;
    padding: 0px 10px 50px;
}

.anuncio-principal .titulo-vaga {
    margin: 5px;
}

.anuncio-principal .titulo-vaga a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-weight: 600;
}

.anuncio-principal .titulo-vaga a:first-child {
    margin-right: 10px;
}

.anuncio-principal .titulo-vaga a:not(:first-child) {
    margin: 0 10px;
}

.anuncio-principal .titulo-vaga a:hover {
    text-decoration: underline;
    color: #0077b5;
}

.anuncio-principal .titulo-vaga h3 {
    font-size: 30px;
    color: rgb( 150, 150, 150);
    margin: 20px 0;
}

.data-icone {
    display: flex;
    flex-direction: row;
    float: left;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.data-icone1 {
    display: flex;
    flex-direction: row;
    float: left;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.data-icone p,
.data-icone1 p {
    margin-top: -2px;
    margin-left: 5px;
    font-size: 13px;
}

.tipo-icone {
    display: flex;
    flex-direction: row;
    float: left;
    padding: 5px;
    margin-left: 50px;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.tipo-icone p {
    margin-top: -2px;
    margin-left: 5px;
    font-size: 13px;
}

.detalhe-vaga {
    border-top: 3px solid #2f98d1;
    margin: 5px;
}

.detalhe-vaga p {
    margin-top: 30px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(120, 120, 120);
    text-align: left;
    font-family: 'Saira Condensed', sans-serif !important;
}

.detalhe-vaga .requisitos .dados,
.detalhe-vaga .desc .dados {
    text-align: justify !important;
}

span.dados {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.candidatar {
    margin-top: 25px;
    padding: 5px;
    color: rgb(120, 120, 120);
}

.candidatar h3 {
    font-size: 29px;
    color: rgb(150, 150, 150);
    box-shadow: 1px 1px 10px 1px #ccc;
    background-color: #ccc;
    text-align: center;
}

.candidatar p {
    font-size: 19px;
    font-weight: 600;
    text-align: left;
}

.candidatar h4 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 23px;
    box-shadow: 1px 1px 10px 1px #ccc;
    background-color: #ccc;
    text-align: center;
}

.candidatar span {
    text-decoration: underline;
    color: #0077b5;
    font-weight: 600;
}


/*NOTICIAS*/

.detalhe-noticias {
    position: relative;
    display: inline-box;
    border-top: 3px solid #2f98d1;
    margin: 5px;
}

.conteudo-noticia-img h3 {
    width: 100%;
    color: #4096c5;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    margin: 30px 0;
    font-size: 28px;
}

.conteudo-noticia-img img {
    width: 100%;
    height: 300px;
}

.desc-noticia {
    margin-top: 20px;
}

.desc-noticia p {
    line-height: 35px;
    text-align: justify;
}


/*CURRICULO*/

.tituloCurriculo {
    margin: 30px 0;
    font-size: 2.1em;
    color: #0077b5;
}

.descCurriculo p {
    margin: 15px 0;
    color: #333;
    line-height: 30px;
    text-align: justify;
}

.contentCurriculo {
    text-align: center !important;
}

.tituloDescCurriculo {
    text-align: left !important;
}

.listCurriculo {
    list-style-position: inside;
}


/*CONTEUDO LATERAL*/

aside.lateral {
    float: right;
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    text-align: center;
    margin: 8px 0 -3px 0;
}


/*  aside.conteudo-lateral{
    float: right;
    width: 30%;
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    text-align: center;
    margin-top: 8px;
}  */

aside .conteudo-lateral h2 {
    display: inline-block;
    width: 100%;
    background: #2f98d1;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

aside .conteudo-lateral img {
    width: 100%;
    height: 230px;
}


/*************PESQUISAR**************/

.box_pesquisa button {
    border: 0;
    cursor: pointer;
    position: relative;
    top: 8px;
    left: 5px;
    background-color: white;
}

.alerta-mensagem {
    display: inline-block;
    width: 100%;
    background-color: rgb(218, 51, 51);
    color: #ccc;
    font-size: 21px;
    text-align: center;
    margin: 20px 0 180px 0;
}


/****PAGINA CONCURSO*********/

.box-concurso p {}

.box-concurso table {
    margin: 50px 2%;
}

.box-concurso table,
th,
td {
    border: 3px solid #ccc;
    border-collapse: collapse;
}

.box-concurso td {
    font-size: 16px;
    font-weight: 600;
}

.box-concurso th,
td {
    padding: 8px;
}

.box-concurso td a {
    color: black;
    text-decoration: none;
}

.box-concurso td a:hover {
    text-decoration: underline;
}


/*FORMULARIO LATERAL*/

.form-lateral {
    margin-top: 0px;
}

.form-lateral h2 {
    font-size: 15px;
    background: #2f98d1;
    color: white;
    padding: 5px 0;
    font-weight: 400;
}

.form-lateral form {
    padding: 0px 2%;
    text-align: center;
}

.form-lateral form label {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 5px;
    color: rgb(150, 150, 150);
}

.form-lateral form label:nth-of-type(3) {
    width: 50%;
    float: left;
}

.form-lateral form select {
    width: 40%;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #ccc;
    outline: 0;
}

.form-lateral form input {
    border: 1px solid #ccc;
    width: 80%;
    margin-right: 10px;
    margin-bottom: 8px;
    outline: 0;
    height: 31px;
    padding-left: 8px;
    font-size: 13px;
    outline: 0;
}

.form-lateral form input[type=submit] {
    display: inline-block;
    width: 90%;
    margin: 10px 0;
    background-color: #0077b5;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    height: 50px;
}

.form-lateral form input[type=submit]:hover {
    border-bottom: 4px solid #57a3cc;
}

.form-lateral .mensagemEmail {
    display: inline-block;
    margin: 10px 2%;
    color: red;
    font-size: 16px;
    font-weight: 600;
}


/**********MEDIA QUERIES**********************/

@media screen and (max-width: 838px) {
    section.conteudo .anuncio-principal {
        float: none;
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 10px 4%;
    }
    .container {
        text-align: center;
    }
    /*Pagina anuncio-vaga*/
    .anuncio-principal .titulo-vaga h3 {
        text-align: left;
        width: 100%;
    }
    .data-icone {
        float: left;
        width: 50%;
    }
    .tipo-icone {
        float: left;
        width: 50%;
        margin-left: 0px;
    }
    .div_lateral {
        margin: 10px 2%;
        text-align: center;
    }
    aside.lateral {
        display: inline-block;
        width: 90%;
        float: none;
    }
}

@media screen and (max-width: 500px) {
    .breve-vaga .img-vaga {
        width: 100%;
        float: none;
    }
    .breve-vaga .desc-vaga {
        width: 100%;
        float: none;
        text-align: center;
    }
    .detalhe-vaga p {
        text-align: justify;
    }
    .breve-vaga .desc-vaga a {
        float: none;
        display: inline-block;
        width: 32%;
        margin-top: 10px;
        font-size: 0.9em;
    }
    .data-icone {
        width: 65%;
        float: none;
        margin: 0 auto;
    }
    .tipo-icone {
        width: 65%;
        float: none;
        margin: 0 auto;
        padding: 7px;
    }
    .breve-vaga1 .desc-vaga {
        padding: 5px;
    }
    .titulo_vaga {
        text-align: justify;
    }
    .breve-vaga1 .img-vaga {
        width: 100%;
    }
    .breve-vaga1 .desc-vaga p a {
        margin-top: 20px;
        padding: 9px
    }
    .conteudo-noticia-img h3 {
        text-align: left;
    }
    section.conteudo .anuncio-principal {
        padding: 10px 1%;
    }
    footer {
        margin-top: 50px;
    }
    .breve-vaga .desc-vaga p a {
        padding: 10px;
        font-size: 1em;
        text-align: center;
    }
    .anuncio-principal .descricao-vaga {
        width: 100%;
        padding: 10px 0px;
    }
    .anuncio-principal .titulo-vaga {
        margin: 5px 5px 20px;
    }
}

@media screen and (max-width: 370px) {
    .pri_pg {
        font-size: 15px !important;
    }
    .ult_pg {
        font-size: 15px !important;
        ;
    }
    .paginacao a {
        margin-right: 10px;
    }
    .form-lateral form input {
        width: 80%;
    }
}