.anuncio-principal .formulario label,
.formulario-contato1 label {
    display: inline-block;
    width: 100%;
    font-size: 21px;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}

.anuncio-principal .formulario label:nth-of-type(1) {
    margin-top: 20px;
}

.anuncio-principal .formulario label:nth-of-type(7) {
    width: 23%;
}

.anuncio-principal .formulario label:nth-of-type(3) {
    width: 36%;
    margin: 20px 0 0 0 !important;
}

.anuncio-principal .formulario label:nth-of-type(12) {
    font-size: 12px;
    font-weight: 600;
    width: 610px;
    margin-top: 30px;
}

.anuncio-principal .formulario input[type=text],
input[type=email],
.formulario-contato1 input[type=text],
.formulario-contato1 input[type=email],
.form-login input[type=password] {
    display: inline-block;
    width: 100%;
    padding: 8px 2%;
    font-size: 18px;
    margin-top: 5px;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
}

.anuncio-principal .formulario input[type=number] {
    display: inline-block;
    width: 8%;
    padding: 3px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
}

.anuncio-principal .formulario select,
.formulario-contato1 select {
    font-size: 16px;
    padding: 5px;
    color: rgb(100, 100, 100);
    margin-top: 20px;
    border: 1px solid #ccc
}

.anuncio-principal .formulario textarea,
.formulario-contato1 textarea {
    padding: 8px;
    font-size: 18px;
    margin: 10px 0 15px 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    resize: none;
    width: 100%;
}

.anuncio-principal .formulario .checkmensag {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    flex-direction: row;
}

.anuncio-principal .formulario .checkmensag label {
    position: relative;
    top: -21px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: rgb(100, 98, 98);
    font-weight: 600;
}

.anuncio-principal .formulario input[type=checkbox] {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.anuncio-principal .formulario input[type=submit],
.formulario-contato1 input[type=submit] {
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin: 25px 0;
    background-color: #0077b5;
    border: none;
    font-size: 20px;
    color: white;
    position: relative;
    left: 25%;
    cursor: pointer;
}

.anuncio-principal .formulario input[type=submit]:hover,
.formulario-contato1 input[type=submit]:hover {
    border-bottom: 4px solid #57a3cc;
}

.formulario input,
textarea {
    outline: 0;
}

.formulario input[type=file] {
    display: block;
    width: 100%;
    margin: 10px;
}


/*Form Login*/

.form-cadastro-login,
.form-login {
    margin: 0 auto 80px;
    width: 80%;
    border: 1px solid #57a3cc;
    padding: 15px;
    box-shadow: 1px 5px 10px 1px #ccc;
}

.form-cadastro-login label {
    display: inline-block !important;
    width: 100% !important;
    text-align: left !important;
}

.form-cadastro-login input[type=submit] {
    margin-top: 60px !important;
    left: 0 !important;
    width: 30% !important;
}

.btn-voltar {
    color: #57a3cc;
    margin-left: 20px;
    text-decoration: none;
}

.btn-voltar a:hover {
    text-decoration: underline;
}

.form-login {
    padding: 20px 80px;
}

.form-login input[type=password],
.form-login input[type=email] {
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    color: #000;
    font-weight: 600;
}

.form-login input[type=submit] {
    margin-top: 50px !important;
}

.form-login .login_links {
    display: flex;
    flex-direction: row;
}

.login_links p {
    margin-top: 20px;
}

.login_links p:nth-of-type(1) {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.login_links p:nth-of-type(2) {
    float: right;
    width: 50%;
    margin-left: 50px;
}

.login_links p a {
    text-decoration: none;
    color: #57a3cc;
}

.login_links p a:hover {
    text-decoration: underline;
}


/***************MEDIA QUERIES***************************/

@media screen and (max-width: 768px) {
    .anuncio-principal .formulario label,
    .formulario-contato1 label {
        width: 100%;
        text-align: center;
    }
    .anuncio-principal .formulario input[type="number"] {
        width: 20%;
    }
    .anuncio-principal .formulario label:nth-of-type(3) {
        width: 80%;
    }
    .anuncio-principal .formulario select,
    .formulario-contato1 select {
        display: inline-block;
        width: 100%;
    }
    .anuncio-principal .formulario label:nth-of-type(7) {
        width: 100%;
        display: inline-block;
    }
    .formulario-contato1 label:nth-of-type(3) {
        width: 100%;
    }
    .anuncio-principal .formulario input[type=submit],
    .formulario-contato1 input[type=submit] {
        left: 0;
    }
    .form-login {
        margin: 0 auto;
        width: 100%;
        padding: 10px;
    }
    .form-login .login_links {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .login_links p:nth-of-type(1) {
        float: left;
        width: 100%;
        flex-basis: 100%;
        margin-left: 0px;
    }
    .login_links p:nth-of-type(2) {
        float: left;
        width: 100%;
        flex-basis: 100%;
        margin-left: 0px;
    }
    footer {
        margin-top: 50px;
    }
}

@media (max-width: 360px) {
    .anuncio-principal .formulario .checkmensag label {
        font-size: 11px;
    }
    .anuncio-principal .formulario input[type=checkbox] {
        margin-right: 0px;
    }
}