footer {
    position: relative;
    background-color: rgb(44, 43, 43);
    border-top: 3px solid #0077b5;
    margin-top: 50px;
}

.footer-side1 .div_seta {
    width: 100%;
    position: relative;
    top: -17px;
    left: 30%;
    text-align: center;
}

.footer-side1 .div_seta .img_cima {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.menu-content {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 40px 10px;
    font-style: italic;
}

footer .footer-side1 {
    flex-basis: 50%;
}

footer .container {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    padding: 0 2%;
}

.menu-footer {
    display: inline-block;
    width: 100%;
}

.divisoria {
    margin: 10px 0;
    height: 2px;
    background-color: #FFF;
    width: 150px;
}

.menu-footer ul {
    list-style: none;
    color: #0077b5;
}

.menu-footer h1,
.submenu-footer h1 {
    color: #0077b5;
    font-style: italic;
    font-family: 'Open Sans-Regular';
}

.menu-footer ul li,
.submenu-footer ul li {
    margin-bottom: 10px;
}

.menu-footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu-footer ul li a:hover {
    text-decoration: underline;
    color: white;
    transition: 0.2s;
}

.submenu-footer {
    flex-basis: 50%;
}

.submenu-footer ul {
    list-style: none;
    color: #0077b5;
}

.submenu-footer ul li:nth-of-type(5) {
    width: 160px;
}

.submenu-footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.submenu-footer ul li a:hover {
    color: #0077b5;
}

.ultimo-footer {
    display: flex;
    flex-direction: rows;
    align-items: justify;
    background-color: #0077b5;
    width: 100%;
    padding: 5px;
}

.ultimo-footer p {
    margin: 3px auto;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
}

.footer-lateral {
    flex-basis: 50%;
    padding: 40px 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-footer {
    flex-basis: 100%;
}

.footer-netsocial {
    flex-basis: 100%;
    padding: 10px;
}

.footer-lateral .img-footer a img {
    width: 300px !important;
    height: 120px !important;
    margin-bottom: 0px !important;
}

.redes-sociais {
    font-size: 30px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 5px;
}

.redes-sociais span {
    cursor: pointer;
}

.footer-netsocial p {
    font-size: 16px;
    color: #ccc;
}

@media screen and (max-width: 960px) {
    footer .container {
        flex-direction: column;
    }
    .footer-side1 .div_seta {
        position: relative;
        top: -17px;
        left: 0;
    }
    footer .footer-side1 {
        width: 100%;
        float: none;
    }
    footer .footer-side1 .menu-content {
        padding: 0 2%;
    }
    .menu-footer {
        width: 55%;
        float: left;
        text-align: center;
    }
    .divisoria {
        width: 80px;
        margin: 10px auto;
    }
    .menu-footer ul li {
        float: none;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .submenu-footer {
        width: 55%;
        float: left;
        text-align: center;
    }
    .submenu-footer ul li {
        float: none;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .footer-lateral {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .footer-lateral p {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    .footer-lateral {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-social {
        display: inline-block;
        width: 100%;
    }
    .ultimo-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 2%;
    }
    .ultimo-footer p:nth-of-type(1) {
        margin-bottom: 5px;
        border-bottom: 2px solid #FFF;
    }
}

@media screen and (max-width: 480px) {
    .footer-lateral .img-footer a img {
        width: 82% !important;
    }
}